<!-- As a link -->
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"> 192102224 - Florensius Try Aldy Juni Candra</a>
  </div>
</nav>
<p></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">nim</th>
      <th scope="col">Nama</th>
      <th scope="col">jenis kelamin</th>
      <th scope="col">tempat tanggal lahir</th>
      <th scope="col">JP</th>
      <th scope="col">Alamat</th>
      <th scope="col">Status</th>
      <th scope="col">Tahun Masuk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1938717</td>
      <td>eko</td>
      <td>laki - laki</td>
      <td>pontianak, 2-12-2001</td>
      <td>TI/TI</td>
      <td>jln gajah mada</td>
      <td>belum menikah</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>1938717</td>
      <td>setyo</td>
      <td>laki - laki</td>
      <td>pontianak, 10-11-1999</td>
      <td>TI/TI</td>
      <td>jln siam</td>
      <td>belum menikah</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>1923987</td>
      <td>marsya</td>
      <td>perempuan</td>
      <td>pontianak, 9-7-2000</td>
      <td>TI/TI</td>
      <td>jln venteran</td>
      <td>belum menikah</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>1938717</td>
      <td>marisa</td>
      <td>perempuan</td>
      <td>pontianak, 2-08-2003</td>
      <td>TI/TI</td>
      <td>jl siantan</td>
      <td>belum menikah</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>1938717</td>
      <td>suwanto</td>
      <td>laki - laki</td>
      <td>pontianak, 9-5-2001</td>
      <td>TI/TI</td>
      <td>jln perdamaian</td>
      <td>belum menikah</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>1938717</td>
      <td>sugio</td>
      <td>laki - laki</td>
      <td>pontianak, 2-12-2001</td>
      <td>TI/TI</td>
      <td>jln hamsah</td>
      <td>belum menikah</td>
      <td>2019</td>
    </tr>
    <tr>
      <td>1938717</td>
      <td>parsyah</td>
      <td>laki - laki</td>
      <td>pontianak, 12-9-2002</td>
      <td>TI/TI</td>
      <td>jln merdeka</td>
      <td>belum menikah</td>
      <td>2019</td>
    </tr>
  </tbody>
</table>